# Oscillator
set_io  clk         21

# Dummy ports
set_io  w_en        44
set_io  r_en        45

set_io  w_addr[0]   78
set_io  w_addr[1]   79
set_io  w_addr[2]   80
set_io  w_addr[3]   81

set_io  r_addr[0]   87
set_io  r_addr[1]   88
set_io  r_addr[2]   90
set_io  r_addr[3]   91

set_io  w_data[0]   112
set_io  w_data[1]   113
set_io  w_data[2]   114
set_io  w_data[3]   115
set_io  w_data[4]   116
set_io  w_data[5]   117
set_io  w_data[6]   118
set_io  w_data[7]   119

set_io  r_data[0]   95
set_io  r_data[1]   96
set_io  r_data[2]   97
set_io  r_data[3]   98
set_io  r_data[4]   99
set_io  r_data[5]   60
set_io  r_data[6]   61
set_io  r_data[7]   62
